obj/
bin/
SysLog/
*.tmp
*.log
*.suo
*.csproj.user
*.rdl.data
/Logs/
/Rainmaker/campaign/DataExports/
/RainMaker/UploadedFiles/
/RainMakerWS/Logs/
App_Data/
*.publish.xml
app.manifest
Microsoft.ApplicationBlocks.Data/doc/Microsoft.ApplicationBlocks.Data.xml
