<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RmConnectionString" value="Server=localhost\SQLEXPRESS;Database=RainmakerMaster;User Id=sa;Password=R@inM@ker;"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpHandlers>
      <add verb="*" path="*.ashx" type="com.leadsweeper.lib.ReportHandler"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <add value="reportmaker.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="ashx_*" verb="*" path="*.ashx" type="com.leadsweeper.lib.ReportHandler" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <system.codedom/>
</configuration>