<?xml version="1.0"?>
<configuration>

  <appSettings>

    <add key="CampaignMasterDBConn" value="Data Source=localhost\SQLEXPRESS;User Id=sa;Password=R@inM@ker;Initial Catalog=RainmakerMaster"/>
    <add key="MasterDBConn" value="Data Source=localhost\SQLEXPRESS;User Id=sa;Password=R@inM@ker;Initial Catalog=MASTER"/>

    <add key="CampaignScriptFilePathDDL" value="C:\RainMakerWeb\RainmakerWS\DBScript\CampaignDB_ddl.sql"/>
    <add key="CampaignScriptFilePathDML" value="C:\RainMakerWeb\RainmakerWS\DBScript\CampaignDB_dml.sql"/>
    <add key="CampaignScriptFilePath7Digits" value="C:\RainMakerWeb\RainmakerWS\DBScript\CampaignDB_7digits.sql"/>

    <!-- Writes Exception Logs to Log File, if 'No' exceptions will be logged to Eventviewer-->
    <add key="LogToFile" value="Yes"/>
  </appSettings>

  <connectionStrings/>

  <system.web>
    <!-- 100MB -->
    <httpRuntime maxRequestLength="102400"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
