<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RainMakerDialer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Default settings for telephony server-->
    <add key="TelephonyServer" value="127.0.0.1"/>
    <add key="Username" value="username"/>
    <add key="Password" value="password"/>
    <!-- Number of milli seconds to poll the database for campaign status -->
    <add key="CampaignPollingInterval" value="1000"/>
    <!-- Number of milli seconds to poll the database for agents -->
    <add key="AgentPollingInterval" value="1000"/>
    <!-- Number of milli seconds to poll the database for admin tasks -->
    <add key="AdminPollingInterval" value="5000"/>
    <!-- Number of milli seconds to check agent's availability -->
    <add key="AgentAvailabiltyCheckInterval" value="1000"/>
    <!-- Minimum number of agents required to dial -->
    <add key="MinAgentsRequiredToDial" value="1"/>
    <!-- Maximum number of trials for agent -->
    <add key="MaxTrialsForAgent" value="2"/>
    <!-- Agent Connection Timeout -->
    <add key="AgentConnectionTimeout" value="3"/>
    <!-- Customer Connection Timeout -->
    <add key="CustomerConnectionTimeout" value="60"/>
    <!-- Maximum number of agent channels dedicated -->
    <add key="MaxAgentChannelCount" value="3"/>
    <!-- Default recording path -->
    <add key="DefaultRecordingsPath" value="C:\recordings\"/>
    <!-- Admin installation path -->
    <add key="AdminServerPath" value="D:\working\Inventive\RainMakerDialer\SRC\Rainmaker"/>
    <!-- Customer wait message to play -->
    <add key="CustomerWaitMessageToPlay" value="Please wait.  Your call is being connected."/>
    <!-- Customer wait message delay in seconds-->
    <add key="CustomerWaitMessageDelay" value="60"/>
    <!-- wait for agent message -->
    <add key="WaitForAgentMessage" value="Please wait for the next available agent."/>
    <!-- wait for agent message -->
    <add key="CustomerConnectionMessage" value="Connecting customer, Please answer"/>
    <!-- wait for agent message -->
    <add key="SilentCallMessage" value="Sorry, No agent found"/>
    <!-- Beep message interval for offhook agent in seconds-->
    <add key="BeepMessageInterval" value="15"/>
    <!-- Play beep message -->
    <add key="PlayBeepMessage" value="no"/>
    <!-- Call notification beeps count -->
    <add key="CallNotificationBeepsCount" value="1"/>
    <!-- Default call time in seconds -->
    <add key="DefaultCallTime" value="20"/>
    <!-- Delay in seconds, Dialer Algorithm  -->
    <add key="Delay" value="1"/>
    <!-- Pause time afeter initial dialing in seconds -->
    <add key="PauseTimeAfterInitialDial" value="23"/>
    <!-- Number of calls per query before switching to other query(RoundRobin) -->
    <add key="CallsPerQuery" value="1"/>
    <!-- Switch to log to the screen, if set to 'no' will only log to file.. -->
    <add key="LogToScreen" value="yes"/>
    <!-- During run, a campaign will check for changed parameters every number of seconds specified here -->
    <add key="DialingParamsRefreshIntervalSecs" value="30"/>
    <!-- Prompt recorder settings -->
    <add key="PromptRecordingPath" value="c:\Program Files\Inventive Labs Corporation\RainmakerDialer\AudioFiles"/>
    <add key="RecorderAudioPath" value="c:\Program Files\Inventive Labs Corporation\RainmakerDialer\AudioFiles\Recordings"/>
    <!-- End recorder settings -->
    <!-- Algorithm v2 settings -->
    <add key="ActiveDialingAlgorithm" value="2"/>
    <add key="PredictionCallStatsWindow" value="100"/>
    <!--
      DropRateThrottle is an indication of the maximum rate at which the drop rate should increase.  
      Acceleration is indicated in drop rate change per minute. The dialing algorithm scales this maximum
      value linearly based on the current ratio of actual drop rate to maximum drop rate. Bigger number = increase
      dialing speed WHEN BELOW set drop rate.
    -->
    <add key="DropRateThrottle" value="2"/>
    <add key="NextCallCheckSleepMS" value="100"/>
    <add key="AlgorithmPauseSleepMS" value="1000"/>
    <!-- End Algorithm settings -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <applicationSettings>
    <RainMakerDialer.Properties.Settings>
      <setting name="RainMakerDialer_AgentsWS_AgentService" serializeAs="String">
        <!--<value>http://leadsweeper-dev/RainmakerWs/AgentService.asmx</value>-->
        <value>http://rainmaker/RainmakerWs/AgentService.asmx</value>
      </setting>
      <setting name="RainMakerDialer_CampaignWS_CampaignService" serializeAs="String">
        <!--<value>http://leadsweeper-dev/RainmakerWs/CampaignService.asmx</value>-->
        <value>http://rainmaker/RainmakerWs/CampaignService.asmx</value>
      </setting>
    </RainMakerDialer.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
