<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="RmConnectionString" value="Server=localhost\SQLEXPRESS;Database=RainmakerMaster;User Id=sa;Password=R@inM@ker;"/>
	</appSettings>
	<system.web>
		<compilation debug="true">
		</compilation>
		<httpHandlers>
			<add verb="*" path="*.ashx" type="com.leadsweeper.lib.ReportHandler"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<remove value="default.aspx"/>
				<add value="reportmaker.aspx"/>
			</files>
		</defaultDocument>
		<handlers>
			<add name="ashx_*" verb="*" path="*.ashx" type="com.leadsweeper.lib.ReportHandler" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
	<system.codedom>
	</system.codedom>
</configuration>
