<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Rainmaker.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="RainmakerMasterConnectionString" connectionString="Server=localhost;Database=RainmakerMaster;User Id=sa;Password=R@inM@ker;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="1440" />
    <customErrors mode="Off" />
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!-- 100MB -->
    <httpRuntime maxRequestLength="102400" />
    <compilation debug="true" targetFramework="4.7.2" />
  </system.web>
  <applicationSettings>
    <Rainmaker.Web.Properties.Settings>
      <setting name="logsPath" serializeAs="String">
        <value>~/logs/</value>
      </setting>
      <setting name="sysLogPath" serializeAs="String">
        <value>syslog/</value>
      </setting>
      <setting name="sysLogFilename" serializeAs="String">
        <value>log.txt</value>
      </setting>
      <setting name="Rainmaker_AgentsWS_AgentService" serializeAs="String">
        <value>http://localhost/RainmakerWS/AgentService.asmx</value>
      </setting>
      <setting name="Rainmaker_CampaignWS_CampaignService" serializeAs="String">
        <value>http://localhost/RainmakerWS/CampaignService.asmx</value>
      </setting>
    </Rainmaker.Web.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="DefaultStatusID" value="1" />
    <add key="RecordingsPath" value="C:\recordings\" />
    <add key="RecordingsPathMulti" value="\myrecordings\" />
    <add key="IsMultiBoxConfig" value="Yes" />
    <add key="UploadPromptsPathMulti" value="\playedtocustomer\" />
    <add key="UploadPromptsPath" value="C:\Program Files\Inventive Labs Corporation\RainmakerDialer\AudioFiles\Recordings\" />
    <add key="DefaultTime" value="01/01/1900" />
    <!-- This is how fast the script pops on the agent station...Never have this above 1000. best is 500 -->
    <add key="Interval" value="500" />
    <!-- 1Mb = 1048576 bytes this has been increased to 20MB-->
    <add key="UploadFileMaxAllowedSize" value="20971520" />
    <!-- Max Number of records to be sent to web service at a time-->
    <add key="ChunkSize" value="1000" />
    <add key="PhoneLinesAvailable" value="48" />
    <!-- The full set of result codes that will be availble for both dialer and agent disposition-->
    <add key="SysResultCodes" value="Answering Machine,Busy,Operator Intercept,Dropped,No Answer,Scheduled Callback,Transferred to Agent,Transferred to Dialer,Transferred to Verification,Unmanned Live Contact,Inbound Abandoned by Agent,Inbound abandoned by Caller,Failed,Unmanned Transferred to Answering Machine, Transferred Offsite" />
    <!-- Result codes that will only be available for dialer, automatic disposition-->
    <add key="SysResultCodesToHide" value="Scheduled Callback,Transferred to Agent,Transferred to Dialer,Transferred to Verification,Unmanned Live Contact,Inbound Abandoned by Agent,Inbound abandoned by Caller,Unmanned Transferred to Answering Machine,Transferred Offsite" />
    <!--True will hide DefaultResultCodes in agent disposition screen ONLY, false will show-->
    <add key="HideDefaultResultcodesForAgentDisposition" value="false" />
    <!--True will hide DefaultResultCodes in agent result code drop downs ONLY, false will show-->
    <add key="HideDefaultResultcodesForScript" value="false" />
    <!-- In milli seconds, 10sec = 10000-->
    <add key="StatsUpdInterval" value="5000" />
    <!-- If no campaigns are running and an agent has been logged on longer than these minutes, will be logged out -->
    <add key="IdleSystemAgentLogoutMinutes" value="30" />
    <!-- Data Manager Settings -->
    <add key="MasterConnectionString" value="Server=localhost\SQLEXPRESS;Database=RainmakerMaster;User Id=sa;Password=R@inM@ker;" />
    <add key="ShowAllFieldsList" value="PhoneNum, FirstName, LastName, Address, City, State, Zip, NeverCallFlag, CallResultCode, DateTimeofCall" />
    <add key="ShowCustomCampaignFields" value="yes" />
    <add key="DataManagerExportPath" value="C:\RainMakerWeb\Rainmaker\ExportedData\" />
    <add key="DataImportMapPath" value="C:\RainMakerWeb\Rainmaker\ImportData\" />
    <add key="RecordingsMapPath" value="C:\Recordings\" />
    <add key="LogFilesPath" value="C:\RainMakerWeb\Logs\" />
    <!-- End Data Manager Settings-->
    <!-- Query Manager Settings -->
    <add key="QMDebug" value="yes" />
    <!-- End Query Manager Settings-->
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>